DEV=*
PORT=3001

SQLDB_CONNECTION_STRING=sqlite:./transaction-service-db.sqlite
# Example Connection String:-
# SQLDB_CONNECTION_STRING=sqlite:./transaction-service-db.sqlite

S2S_INTREGRITY_KEY=<randomly generated string shared between resources>

#Keycloak Creds
CLIENT_ID=<current service id>
CLIENT_SECRET=<secrect associated with this service>
KEYCLOAK_URL=http://localhost:8080/auth
KEYCLOAK_REALM=bank-app
KEYCLOAK_REALM_PUBLIC_KEY=<relm public ip>

#Accounts microservice
ACCOUNTS_SERVICE_BASE_LOCATION=http://localhost:3000

# For Testing
TEST_CLIENT_ID=test-client
TEST_CLIENT_SECRET=dc7952d6-73a4-41c3-8276-0f8a4408e19d
TEST_USERNAME_1=testuser1
TEST_USER_1_PASSWORD=testuser1
TEST_USER_2=testuser2
TEST_USER_2_PASSWORD=testuser2